$base-color: #0057b1;

svg {
  cursor: pointer;
}

div.header-styles{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #fe9b19;
  // position: fixed;
  // top: 0;
  // width: 90vw;

  h1 {
    color: #1a4d80;
    display: flex;
    align-items: center;
  }


  button {
    padding: 20px 8px;
    margin: 0px;
    border-radius: 8px;
    line-height: 0px;
    width: 150px;
    // background: transparent;
    border: none;
    font-size: 15px;
    color: white;
    // background: linear-gradient(#76757a, #7983ee, $base-color);
    background: linear-gradient(to right, #0083b0, $base-color);
  }
}

div.hero-banner {
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
  align-items: center;
  height: 500px; 
  padding: 0px 35px;
  margin-bottom: 20px;
  background-color: bisque;
  h1 {
    font-size: 50px;
    line-height: 55px;
    color: #fe9b19;
  }
}

table.content {
  border-collapse: collapse;
  margin: 25px 0;
  font-weight: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);

  thead tr {
    background-color: $base-color;
    color: white;
    text-align: left;
    font-weight: bold;
  }
  th, td{
    padding: 10px 15px;
  }

  tbody {
  
    tr {
      border-bottom: 1px solid #dddddd;
    }
    tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }
    tr:last-of-type {
      border-bottom: 2px solid $base-color;
    }
  
    tr:hover {
      color: $base-color;
      // font-weight: bold;
    }

  } 
}

div.table-wrapper {
  display:flex; 
  flex-direction: column; 
  align-items: center;
}

div.table-heading-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 70%;

  button{
    background-color: $base-color;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 140px;
  }

  h2 {
    margin: 0px;
    padding: 0px;
  }
}


span.close-btn{
  color: red;
  position: relative;
  top: 0;
  left: 208px;
  /* background-color: blue; */
  padding: 8px;
  font-size: 23px;
}

div.form-entry{
  margin-top: 10px; 
  // border: solid 2px;
  border-radius: 5px;
  max-width: 20rem;
  padding: 55px;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);

  h3 {
    text-align: left;
    width: 100%;
  }

  .form-label{
    padding: 0px;
    margin: 0px;
  }
  input, select {
    margin-bottom: 15px;
    width: 100%;
    padding: 5px;
  }
  button {
    width: 100%;
    text-align: center;
    background-color: $base-color;
    // background: linear-gradient(red, orange);
    
    h3 {
      text-align: center;
      color: #fff;
      font-family: 'Arial';
    }
  }
}

footer {
  height: 50px;
   background-color: orange; 
   margin-top: 50px;
   text-align: center;
   display: flex;
   flex-direction: column;

   a {
     text-decoration: none;
     font-weight: bold;
   }
}